{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-4">
  <h1>Conheça nossos veículos</h1>
  <hr class="">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    {% for veiculo in veiculos %}
      <div class="col">
        <div class="card h-100">
          <img src="{% url 'fotos-veiculo' veiculo.foto.name|cut:'veiculos/fotos/'%}" class="card-img-top img-padronizada" alt="Imagem do veículo">
          <div class="card-body">
            <h5 class="card-title">{{ veiculo.get_marca_display }} {{ veiculo.modelo }}</h5>
            <p class="card-text">Ano: {{ veiculo.ano }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cor: {{ veiculo.get_cor_display }}</li>
            <li class="list-group-item">Combustível: {{ veiculo.get_combustivel_display }}</li>
          </ul>
          <div class="card-body d-flex justify-content-between">
            <button type="button" class="btn btn-primary btn-sm" ><a href="{% url 'editar-veiculos' veiculo.id%}" style="text-decoration: none; color: white;">Editar</a></button>
            <button type="button" class="btn btn-danger btn-sm"><a href="{% url 'excluir-veiculos' veiculo.id%}" style="text-decoration: none; color: white;">Excluir</a></button>
          </div>
        </div>
      </div>
    {% empty %}
      <p class="text-center">Nenhum veículo cadastrado.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
